{% extends "base.html" %}
{% block title %}Alterar Despesa{% endblock %}

{% block content %}
<h2>Alterar Despesa</h2>

<form method="POST">
    <div class="mb-3">
        <label for="data_compra" class="form-label">Data da Compra</label>
        <input type="date" class="form-control" name="data_compra" value="{{ despesa.data_compra }}">
    </div>
    <div class="mb-3">
        <label for="valor_compra" class="form-label">Valor Total</label>
        <input type="text" class="form-control" name="valor_compra" value="{{ despesa.valor_compra }}">
    </div>
    <div class="mb-3">
        <label for="valor_parcela" class="form-label">Valor da Parcela</label>
        <input type="text" class="form-control" name="valor_parcela" value="{{ despesa.valor_parcela }}">
    </div>
    <button type="submit" class="btn btn-success">Salvar Alterações</button>
    <a href="{{ url_for('consultar_despesas') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
