{% extends "base.html" %}

{% block content %}

<style>
.highlight-blue,
.highlight-blue > td {
  background-color: rgb(0, 183, 255) !important;
  color: rgb(7, 12, 12) !important;
  font-weight: bold;
  }
   .status-verde {
    background-color: #d4edda; /* verde claro */
    color: #155724;
    font-weight: bold;
  }
  .status-laranja {
    background-color: #fff3cd; /* amarelo/laranja claro */
    color: #856404;
    font-weight: bold;
  }
  .status-vermelho {
    background-color: #f8d7da; /* vermelho claro */
    color: #721c24;
    font-weight: bold;
  }

  .real-symbol {
  display: inline-block;
  width: 2.5ch; /* largura fixa para "R$" + espaço */
  text-align: right;
  margin-right: 0.25ch;
}

 .real-valor {
  display: inline-block;
  min-width: 6ch; /* ajuste conforme precisar */
  text-align: right;
}

.modal-dialog {
  max-width: 100%;
  margin: auto;
}

.modal-content {
  width: auto;
  min-width: 300px;
  max-height: none !important;
}

</style>

<!-- --- Macro para definir classe CSS com base nos status das parcelas --- -->

{% macro class_por_status(status_parcelas) %}
  {% if status_parcelas is not iterable %}
    {% set status_parcelas = [status_parcelas] %}
  {% endif %}

  {% set all_pago = status_parcelas | reject("equalto", "aberto") | list | length == status_parcelas | length %}
  {% set all_aberto = status_parcelas | reject("equalto", "pago") | list | length == status_parcelas | length %}
  {% set tem_aberto = "aberto" in status_parcelas %}
  {% set tem_pago = "pago" in status_parcelas %}

  {% if all_pago %}
    status-verde
  {% elif tem_aberto and tem_pago %}
    status-laranja
  {% elif all_aberto %}
    status-vermelho
  {% else %}
    ""
  {% endif %}
{% endmacro %}


<div class="container-fluid">
  <h2>Consultar Despesas</h2>
  {% if alterada_id %}
  <div class="alert alert-success" role="alert">
    Despesa <strong>{{ alterada_id }}</strong> atualizada com sucesso!
  </div>
{% endif %}

  <!-- Formulário de filtro -->
  <form method="GET" action="{{ url_for('consultar_despesas') }}">
    {% if alterada_id %}
  <input type="hidden" name="alterada_id" value="{{ alterada_id }}">
{% endif %}
  
<div class="d-flex flex-nowrap gap-3">
  <div class="form-group" style="min-width: 200px;">
  <label for="tipoPesquisa">Tipo de Pesquisa</label>
  <select id="tipoPesquisa" class="form-control">
    <option value="" selected>Selecione o tipo de pesquisa</option>
    <option value="todas">Todas as Bandeiras</option>
    <option value="estabelecimento">Todos os Estabelecimentos</option>
    <option value="produto">Todos os Produtos</option>
  </select>
</div>

  <div class="form-group" style="min-width: 150px;">
  <label for="data_inicio">Data Início</label>
  <input type="date" name="data_inicio" class="form-control" value="{{ request.args.get('data_inicio', '') }}">
</div>


  <div class="form-group" style="min-width: 150px;">
    <label for="data_fim">Data Fim</label>
    <input type="date" name="data_fim" class="form-control" value="{{ request.args.get('data_fim', '') }}">
 </div>
</div>
 

  <div class="form-row align-items-end mt-3">
    <div class="form-group col-md-4 " id="campoBandeira" style="display:none;">
      <label for="bandeira">Bandeira</label>
      <select name="bandeira" id="bandeira" class="form-control">
        <option value="">Todas as bandeiras</option>
        {% for b in bandeiras %}
          <option value="{{ b.id }}" {% if bandeira_selecionada == b.id|string %}selected{% endif %}>{{ b.nome }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group col-md-4 " id="campoEstabelecimento" style="display:none;">
      <label for="estabelecimento">Estabelecimento</label>
      <select name="estabelecimento" id="estabelecimento" class="form-control">
        <option value="">Todos os Estabelecimentos</option>
        {% for est in estabelecimentos %}
          <option value="{{ est.id }}" {% if estabelecimento_selecionado == est.id|string %}selected{% endif %}>{{ est.nome }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group col-md-4 " id="campoProduto" style="display:none;">
      <label for="produto">Produto</label>
      <select name="produto" id="produto" class="form-control">
        <option value="">Todos os Produtos</option>
        {% for prod in produtos %}
          <option value="{{ prod.id }}" {% if produto_selecionado == prod.id|string %}selected{% endif %}>{{ prod.nome }}</option>
        {% endfor %}
      </select>
    </div>
  </div>


</div>
    <div class="mt-3 d-flex flex-column flex-md-row gap-2">
      <button type="submit" class="btn btn-primary">Filtrar</button>
      <a href="{{ url_for('consultar_despesas', alterada_id=alterada_id) }}" class="btn btn-secondary ml-2">Limpar Filtros</a>
    </div>
 
  </form>

  <hr>

  <!-- Exibição das despesas -->
  <div class="table-responsive">
    <table class="table table-sm  table-bordered w-100">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th style="min-width: 100px;">Estabelecimento</th>
          <th style="min-width: 250px;">Produto</th>
          <th style="min-width: 120px;"class="text-end">Valor Compra</th>
          <th style="min-width: 120px;"class="text-center">Data Compra</th>
          <th style="min-width: 80px;">Bandeira</th>
          <th style="min-width: 80px;"class="text-center">Qdte de parcelas</th>
          <th class="text-end" style="max-width: 120px;">Valor Parcela</th>
          <th class="d-none d-sm-table-cell" style="max-width: 100px;">observacao</th>
          <th style="min-width: 90px" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for despesa in despesas %}
         <tr {% if despesa.id|string == alterada_id|string %}class="highlight-blue"{% endif %}>
          <td>{{ despesa.id }}</td>
          <td>{{ despesa.estabelecimento }}</td>
          <td>{{ despesa.produto_nome }}</td>
          <td class="text-end">
          <span class="real-symbol">R$</span> <span class="real-valor">{{ despesa.valor_compra | real_sem_simbolo }}</span>
           </td>

          <td class="text-center">{{ despesa.data_compra }}</td>
          <td>{{ despesa.bandeira_nome }}</td>
          <td class="text-center {{ class_por_status(despesa.status_parcelas) }}">
          <a href="#" class="abrir-modal-parcelas {{ class_por_status(despesa.status_parcelas) }}" data-id="{{ despesa.id }}">
             {{ despesa.numero_parcela }} 
           </a>
          </td>
          <td class="text-end">
          <span class="real-symbol">R$</span> <span class="real-valor">{{ despesa.valor_parcela | real_sem_simbolo }} </span>
          </td>

          <td class="d-none d-sm-table-cell text-center">
             {% if despesa.observacao %}
                <a href="#" class="link-observacao" data-observacao="{{ despesa.observacao | e }}">Observação</a>
             {% else %}
                ---
             {% endif %}
          </td>
          <td style="min-width:190px" class="text-center">
             <div class="d-flex justify-content-center">
               <a href="{{ url_for('editar_despesa', id=despesa.id) }}" class="btn btn-sm btn-warning mr-2">Editar</a>
               <form action="{{ url_for('excluir_despesa', id=despesa.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir esta despesa?');">
                 <button type="submit" name="csrf_token" value="{{ csrf_token() }}" class="btn btn-sm btn-danger">Excluir</button>
               </form>
             </div>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="9" class="text-center">Nenhuma despesa cadastrada.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Modal de Observação (Bootstrap 5) -->
<div class="modal fade" id="modalObservacao" tabindex="-1" aria-labelledby="observacaoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog modal-xl" style="max-width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="observacaoModalLabel">Observação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" id="observacaoConteudo">
        <!-- Conteúdo da observação será inserido aqui -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Controle visibilidade dos campos de filtro
    const tipoPesquisa = document.getElementById('tipoPesquisa');
    const campoBandeira = document.getElementById('campoBandeira');
    const campoEstabelecimento = document.getElementById('campoEstabelecimento');
    const campoProduto = document.getElementById('campoProduto');

    function atualizarCampos() {
      const valor = tipoPesquisa.value;
    
      campoBandeira.style.display = 'none';
      campoEstabelecimento.style.display = 'none';
      campoProduto.style.display = 'none';

      if (valor === 'todas') {
        campoBandeira.style.display = 'block';
      } else if (valor === 'estabelecimento') {
        campoEstabelecimento.style.display = 'block';
      } else if (valor === 'produto') {
        campoProduto.style.display = 'block';
      }
    }

    tipoPesquisa.addEventListener('change', atualizarCampos);
    atualizarCampos();

    // Script modal observação (seu código original)
    const links = document.querySelectorAll('.link-observacao');
    const modalElement = document.getElementById('modalObservacao');
    const modalContent = document.getElementById('observacaoConteudo');

    const modal = new bootstrap.Modal(modalElement);

    links.forEach(link => {
      link.addEventListener('click', function (e) {
        e.preventDefault();
        const texto = this.getAttribute('data-observacao') || '';
        const textoComQuebras = texto.replace(/\n/g, "<br>");
        modalContent.innerHTML = textoComQuebras;
        modal.show();
      });
    });
   });
</script>

{% endblock %}
