{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>Consultar Despesas</h2>
      <!-- Formulário de filtro -->
  <form method="GET" action="{{ url_for('consultar_despesas') }}">
  <div class="form-row">
    <div class="col-md-4">
      <select name="bandeira" class="form-control">
        <option value="">Todas as bandeiras</option>
        {% for b in bandeiras %}
          <option value="{{ b.id }}" {% if bandeira_selecionada == b.id|string %}selected{% endif %}>{{ b.nome }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">
      <input type="date" name="data_inicio" class="form-control" value="{{ request.args.get('data_inicio', '') }}">
    </div>
    <div class="col-md-4">
      <input type="date" name="data_fim" class="form-control" value="{{ request.args.get('data_fim', '') }}">
    </div>
  </div>
  <div class="mt-2">
    <button type="submit" class="btn btn-primary">Filtrar</button>
    <a href="{{ url_for('consultar_despesas') }}" class="btn btn-secondary mt-0 ml-1">Limpar Filtros</a>
</form>

    
    <hr>
    
    <!-- Exibição das despesas -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Produto</th>
          <th>Valor Compra</th>
          <th>Data Compra</th>
          <th>Forma de Pagamento</th>
          <th>Bandeira</th>
          <th>Parcelamento</th>
          <th>Valor Parcela</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for despesa in despesas %}
        <tr>
          <td>{{ despesa.id }}</td>
          <td>{{ despesa.produto_nome }}</td>
          <td>{{ despesa.valor_compra }}</td>
          <td>{{ despesa.data_compra }}</td>
          <td>{{ despesa.forma_pagamento }}</td>
          <td>{{ despesa.bandeira_nome }}</td>
          <td>{{ despesa.parcelamento_tipo }}</td>
          <td>{{ despesa.valor_parcela }}</td>
          <td>
            <a href="{{ url_for('editar_despesa', id=despesa.id) }}" class="btn btn-warning">Editar</a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="9" class="text-center">Nenhuma despesa cadastrada.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
