{% extends 'base.html' %}
{% block title %}
  {% if registro %}
    Editar {{ tipo | capitalize }}
  {% else %}
    Nova {{ tipo | capitalize }}
  {% endif %}
{% endblock %}

{% block content %}
  <h2>
    {% if registro %}
      Editar {{ tipo | capitalize }}
    {% else %}
      Nova {{ tipo | capitalize }}
    {% endif %}
  </h2>
<form method="post">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" value="{{ registro.nome }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{{ url_for('listar_formas_pagamento') }}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}