{% extends 'base.html' %}
{% block title %}Nova Forma de Pagamento{% endblock %}
{% block content %}
<h2>Nova Forma de Pagamento </h2>
<form method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control"style="text-transform: uppercase;" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{{ url_for('listar_formas_pagamento') }}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}
