{% macro render_table(totais, pago_flag, meses, bandeiras) %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Mês/Ano</th>
      {% for bandeira in bandeiras %}
        <th>{{ bandeira }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for mes in meses %}
    <tr>
      <td>{{ mes }}</td>
      {% for bandeira in bandeiras %}
        <td class="valor-mes" data-mes="{{ mes }}" data-bandeira="{{ bandeira }}" data-pago="{{ pago_flag }}" style="cursor:pointer; background-color: #f8f9fa;">
          {% if totais[mes] and bandeira in totais[mes] %}
            R$ {{ "%.2f"|format(totais[mes][bandeira]) }}
          {% else %}
            R$ 0.00
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
