{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}Totais de Despesas Mensais{% endblock %}

{% block content %}
<h2>Totais de Despesas Mensais</h2>

<!-- Abas para Pagas e Não Pagas -->
<ul class="nav nav-tabs" id="totaisTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="nao-pagas-tab" data-bs-toggle="tab" data-bs-target="#nao-pagas" type="button" role="tab">Não Pagas</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pagas-tab" data-bs-toggle="tab" data-bs-target="#pagas" type="button" role="tab">Pagas</button>
  </li>
</ul>

<!-- Conteúdo das Abas -->
<div class="tab-content mt-3" id="totaisTabContent">
  <!-- Aba: Não Pagas -->
  <div class="tab-pane fade show active" id="nao-pagas" role="tabpanel" aria-labelledby="nao-pagas-tab">
    {{ macros.render_table(totais_nao_pagos, "false", meses, bandeiras) }}
  </div>

  <!-- Aba: Pagas -->
  <div class="tab-pane fade" id="pagas" role="tabpanel" aria-labelledby="pagas-tab">
    {{ macros.render_table(totais_pagos, "true", meses, bandeiras) }}
  </div>
</div>
{% endblock %}
