{% extends 'base.html' %}
{% block title %}Local da Compra{% endblock %}
{% block content %}
<h2>Novo Local da Compra</h2>
<form method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" style="text-transform: uppercase;"required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{{ url_for('listar_local_compra') }}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}
